.travel-card {
  display: grid;
  grid-template-columns: 30% 30% 40%;
  margin: 50px 100px;
}

.travel--img {
  width: 100%;
}

.card--img {
  width: 80%;
}

.travel--title {
  text-align: left;
}

.travel--details {
  flex-wrap: wrap;
  text-align: left;
}

/* =============================== MEDIA QUERIES (SMALL DEVICES) =============================== */

@media screen and (max-width: 600px) {
  .travel-card {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .travel--title {
    text-align: center;
  }

  .travel--details {
    text-align: center;
  }
}
