.travel-card {
    display: flex;
    height: 200px;
    margin: 50px 100px;
  }

  .travel--img {
    display: flex;
  }

  .card--img {
    width: 200px;
  }

  .travel--title {
    display: flex;
    flex-wrap: wrap;
    /* width: 200px; */
  }

  .travel--details {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    text-align: left;
  }